[submodule "bundle/all/mucomplete"]
	path = bundle/all/mucomplete
	url = git@github.com:lifepillar/vim-mucomplete.git
[submodule "bundle/all/clang-complete"]
	path = bundle/all/clang-complete
	url = git@github.com:xavierd/clang_complete
[submodule "bundle/all/monokai"]
	path = bundle/all/monokai
	url = git@github.com:sickill/vim-monokai.git
[submodule "bundle/all/lightline"]
	path = bundle/all/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/all/jedi-vim"]
	path = bundle/all/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/all/gruvbox"]
	path = bundle/all/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "bundle/all/badwolf"]
	path = bundle/all/badwolf
	url = git@github.com:sjl/badwolf
[submodule "bundle/all/vim-colors-solarized"]
	path = bundle/all/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/all/jellybeans"]
	path = bundle/all/jellybeans
	url = git@github.com:nanotech/jellybeans.vim
[submodule "bundle/all/vimwiki"]
	path = bundle/all/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "bundle/all/fugitive"]
	path = bundle/all/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/all/surround"]
	path = bundle/all/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/all/sensible"]
	path = bundle/all/sensible
	url = git@github.com:tpope/vim-sensible.git
